@font-face {
    font-family: fac;
    src: url("./assets/font/RobotoMono-Regular.ttf");
}
*{
    font-family: fac;
    /* word-spacing: 6px;
    letter-spacing: 1px; */
}
body{
    color: #fff;
    background: #151515;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;  
}

ul,li,h6,p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-block-start: 0px;
    padding-inline-start: 0px;
}
.Toastify__toast{
    border: 3px solid #000;
}